# npm 11.x deprecation warnings configuration
# These warnings are about internal npm configuration that's being deprecated
# They don't affect functionality and will be removed in npm 12+
#
# The warnings relate to npm_config_* environment variables:
# - version-git-tag: used for git tagging during npm version
# - argv: used for argument parsing
# - version-commit-hooks, version-git-message, version-tag-prefix: version command config
#
# Setting loglevel to error suppresses these deprecation warnings
loglevel=error
